/* esto es un comentario */
main {
    background-color: #b2e7ff;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 20px;
}
section {
    background-color: #63d2fd;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;

}
button {
    background-color: #0284c7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.95rem;
    border-radius: 30px;  
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease;
}
/* Estilos para la práctica */

.bloque {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ddd;
}

.bloque:last-child {
  border-bottom: none;
}

input, select {
  padding: 8px;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #0df1e6;
}


button:hover {
  background-color: #0056b3;
}

.caja-interactiva {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #aefaed;
  border: 2px solid #45d3ec;
  transition: all 0.3s ease;
}